.cont {
    width: 100%;
    background-color: var(--background);
    color: white;
    padding: 3rem 0 4rem 0;
    padding-inline-start: 5vw;
    padding-inline-end: 15vw;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-inline-end: 5vw;
    min-width: 60%;
}

.missionP{
    padding-inline-start: 4vw;
}

.infoCont{
    min-width: 20%;
}

.socials {
    width: 90%;
    margin-top: 2rem;
    opacity: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.socials a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconP {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.iconP svg {
    margin-inline-end: 1rem;
}

.footerLogo {
    position: relative;
    width: 200px;
    height: 100px;
    margin-block-end: 1.5rem;
}

@media (max-width: 768px) {
    .cont {
        flex-direction: column-reverse;
        padding: 4rem;
    }
    .about {
        margin-top: 3rem;
    }
    .socials {
        width: 75%;
    }
}