.cont {
    width: 100%;
    background-color: var(--background);
    color: white;
    padding: 4rem 0 6rem 0;
    padding-inline-start: 5vw;
    padding-inline-end: 15vw;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-inline-end: 5vw;
}

.socials{
    width: 50%;
    margin-top: 2rem;
    opacity: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.socials a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconP {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.iconP svg {
    margin-right: 1rem;
}

@media (max-width: 768px) {
    .cont{
        flex-direction: column-reverse;
        padding: 4rem;
    }
    
    .about{
        margin-top: 3rem;
    }

    .socials{
        width: 75%;
    }
}