.cont{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35vw, 1fr));
    grid-gap: 3rem;
    margin: 0 5rem;
    margin-bottom: -3vh;
}

.card{
    border: 2px solid red;
    padding: 2rem 1rem;
    background-color: white;

    transform: translateY(-10vh);
    z-index: 100;

}


@media (max-width: 768px) {
    .cont{
        grid-template-columns: repeat(auto-fit, minmax(70vw, 1fr));
        margin: 0 2rem;
    }
}
