.card {
  border: 1px solid gray;
  border-radius: 5px;
  margin-block-end: 4rem;
  display: grid;
  grid-template-areas:
    "name name area"
    "bio bio area";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1.5fr;
  padding: 1.5rem 2rem;
}

.bio {
  grid-area: bio;
  height: fit-content;
  padding-inline-start: 0.5rem;
}

.nameCont {
  grid-area: name;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.nameCont * {
  margin: 0;
}

.name {
  padding: 0.5rem 1rem;
  border-radius: 3px;
  background-color: var(--primary);
  color: white;
  width: fit-content;
  margin-bottom: 1rem;
}

.isAva{
  opacity: 85%;
  padding-inline-start: 0.35rem;
  letter-spacing: 0.2px;
  display: flex;
  align-items: center;
}

.isAva svg{
  margin-left: 0.25rem;
  color: green;
}

.areaCont {
  grid-area: area;
  margin-inline-start: 2.5rem;
}

.areaCard {
  background-color: var(--background);
  color: white;
  margin-block-start: 1rem;
  padding: 0.35rem;
  border-radius: 3px;
  width: fit-content;
}

@media (max-width: 768px) {
  .card {
    grid-template-areas:
      "name"
      "area"
      "bio";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(5rem, 1fr));
  }

  .areaCont {
    margin: 0;
  }

}
