.cont {
    position: fixed;
    top: 0;
    width: 100vw;
    margin: 0;
    z-index: 999;
}

.nav {
    font-size: 1.25rem;
    color: white;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 2rem 0.5rem 0 0.5rem;
}

.scrolledNav {
    color: black;
    background-color: white;
    transition: background-color 1s linear;
    box-shadow: 0 5px 5px rgba(120, 120, 120, 0.25);
}

.menuIcon {
    display: none;
    cursor: pointer;
}

.menu {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding-inline-start: 10%;
    list-style: none;
}

.menu>a {
    text-decoration: none;
}

.navitem {
    cursor: default;
    padding-bottom: 2rem;
}

.navitem p{
    display: flex;
    width: fit-content;
    margin: 0;
    align-items: center;
}

.navitem p svg{
    margin-left: 5px;
}

.dropdown {
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease;
    position: absolute;
    list-style: none;
    background-color: #f9f9f9;
    color: black;
    z-index: 8;
    padding: 1rem 1.5rem;
    padding-inline-end: 4rem;
    border-radius: 0.5rem;
    margin-inline-start: -2rem;
}

.dropdown li {
    padding: 0.5rem 0;
}

.dropdown li:hover {
    color: #515050
}

.navitem:hover {
    color: #cbcbcb;
}

.scrolledNav .navitem:hover {
    color: #515050
}

.menu>* {
    margin-inline-end: 10%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22%;
}

.langCont {
    width: 5%;
    margin-inline-end: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 2rem;
}

.lang {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1.1rem;
    font-family: 'Lora', sans-serif;
    padding-inline-end: 10px;
}

.lang option {
    background-color: transparent;
    border: 1px solid #fff;
    color: black;
}

@media (min-width: 769px) {
    .navitem:hover .dropdown {
        visibility: visible;
        opacity: 100;
        transform: translateY(1rem);
    }
}

@media (max-width: 768px) {
    .nav {
        min-height: 5rem;
    }
    .menuIcon {
        display: inherit;
        position: absolute;
        right: 2%;
        z-index: 10;
        transition: color cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
    }
    .nav {
        padding-inline-end: 0;
    }
    .menu {
        display: none;
        position: fixed;
        background-color: var(--background);
        color: white;
        font-size: 1.5rem;
        top: 0;
        right: 0;
        width: 70vw;
        height: 100vh;
        margin: 0 0;
        transform: translateX(200vw);
        transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 4.5rem 0 0 0;
        overflow: scroll;
    }
    .menuResp {
        transform: translateX(0);
    }
    .langCont {
        position: absolute;
        left: 7%;
        z-index: 10;
    }
    .lang {
        font-size: 1.5rem;
    }

    /* hover drop down */
    .navitem {
        width: 100%;
        padding: 1.5rem 0.5rem;
        padding-inline-start: 5rem;
        margin: 0;
        border-bottom: 3px solid rgb(9, 48, 103);
    }
    .dropdown {
        display: block;
        list-style: none;
        z-index: 8;
        transition: none;
        visibility: hidden;
        opacity: 100;
        background-color: var(--background);
        color: white;
        padding: 1rem 0 0 0.5rem;
        margin: 0;
        border-radius: 0;
        font-size: 1.2rem;
    }
    .dropdown li {
        padding: 0.8rem 0;
    }

    .submenuActive .dropdown {
        visibility: visible;
        transform: none;
        position: relative;
    }

    .dropdown li:hover {
        color: #cbcbcb;
    }
}