.main {
  z-index: 999;
  position: fixed;
  width: 100vw;
  height: 20vh;
  margin-top: 80vh;
  padding: 0.5rem 4rem;
  text-align: left;
  background-color: rgb(255, 255, 255);
  border-top: 2px solid black;
  overflow-y: scroll;
}

.icon {
  position: absolute;
  right: 3vw;
  bottom: 15vh;
  color: var(--primary);
}

.icon:hover{
  cursor: pointer;
}

.paragraph {
  font-size: 1.1rem;
}
