.mainCont {
    padding: 4rem 5rem;
    background-color: var(--background);
    color: white;
    min-height: 20rem;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 6rem;
    flex-wrap: wrap;
}

.quoteCard{
    width: 30vw;
    line-height: 1.8rem;
    margin: 0 3rem 4rem 3rem;
}

.mainCont svg {
    color: rgba(178, 178, 178, 0.7);
    position: relative;
    top: 1rem;
    left: -1.5rem;
}

@media (max-width: 768px) {
    .mainCont {
        flex-direction: column;
        padding: 7rem 2rem;
    }

    .quoteCard {
        width: auto;
        margin: 0 0 2rem 0;
        padding: 0 2rem;
    }
}