.cont{
    min-height: 90vh;
    margin: 4rem 0;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    border: none;
}

.info{
    padding: 0 4rem;
    background-color: var(--background);
    color: white;

}

.info h3{
    font-size: 2.5rem;
    margin-bottom: 5rem;
}

.info h3::after {
    content: "";
    display: block;
    margin-block-start: 0.7rem;
    height: 2px;
    width: 120px;
    background-color: var(--primary);
    z-index: 999;
  }

.bgIcon{
    position: relative;
    opacity: 20%;
    left: -10%;
    bottom: 40%;
}

.reasonCont{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 70%;
    width: 110%;
}

.reason{
    margin-right: 3rem;
}

.reason>h4{
    font-size: 1.4rem;
    line-height: 2rem;
    margin: 0 0 2rem 0;
    border-left: 3px solid var(--primary);
    padding-left: 15px;
}


.image{
    position: relative;
    width: 100%;
    height: 100%;
}



@media (max-width: 768px) {
    .info h3::after {
        width: 70vw;
    }

    .cont{
        margin: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.25fr;
        border: none;
    }

    .reasonCont{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        height: auto;
        width: auto;
    }

    .reason{
        padding-bottom: 4rem;
    }

    .info{
        padding: 0;
        padding-inline-start: 8vw;
        border-bottom: 3px solid black;
    }

    .bgIcon{
        bottom: 20%;
    }
}
