@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

* {
  box-sizing: border-box;
}

:root{
   --primary: #EC7505;
   --alert: #cb3c04;
   --background: #1c3a13;
   --bgLanding: rgba(28, 58, 19, 0.45);
   --navBg: #1f4215;
   font-size: 16px;

}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lora', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 768px) {
  :root{
      font-size: 14px;
  }
}