.backdrop {
    height: 100vh;
    width: 100vw;
    position: relative;
    color: white;
}

.overlay {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    background-color: var(--bgLanding);
}

.mainTagline {
    padding-inline-start: 10%;
    padding-block-start: 10rem;
    width: 70%;
}

.mainTagline h1 {
    font-size: 5.5rem;
}

.mainTagline h2 {
    font-size: 2rem;
}

.mainTagline h3 {
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .mainTagline h4 {
        font-size: 1.4rem;
    }
    .backdrop {
        height: 80vh;
    }
    .mainTagline {
        padding-block-start: 7rem;
    }
    .mainTagline h1 {
        font-size: 3rem;
    }
}