.backdrop {
    min-height: 100vh;
    width: 100vw;
    position: relative;
    color: white;
}

.overlay {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    background-color: var(--bgLanding);
}

.landingCont {
    padding-inline-start: 10vw;
    padding-block-start: 13vh;
    width: 88%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.landingCont h1 {
    font-size: 5.5rem;
}

.landingCont h2 {
    font-size: 1.75rem;
}

.landingCont h3 {
    font-size: 1.1rem;
}

.mainContent {
    margin-inline-end: 8vw;
}

.donateContent h3 {
    letter-spacing: 0.05rem;
}

.button {
    cursor: pointer;
    font-size: 1.3rem;
    padding: 1rem;
    border-radius: 0.5rem;
    font-family: 'Lora', serif;
    margin-block-start: 5vh;
    margin-inline-start: 0.3rem;
    background-color: var(--primary);
    border: var(--primary);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact {
    justify-content: space-between;
    gap: 0.4rem;
}

.button:focus {
    outline: none;
    box-shadow: none;
}

.button:hover {
    filter: brightness(0.85);
}

.socials {
    position: absolute;
    right: 5vw;
    top: 55vh;
    opacity: 50%;
    z-index: 3;
    display: flex;
    flex-direction: column;
}

body[dir="rtl"] .socials {
    right: auto;
    left: 5vw;
}

.socials svg {
    margin-bottom: 2rem;
}


/* Contact Form */

.contactCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15vw;
    margin: 3rem 0 10rem 0;
}

.contactCont h3 {
    font-size: 2rem;
    margin-inline-start: 3vw;
    margin-block-end: 3rem;
}

.contactCont h3::after {
    content: "";
    display: block;
    margin-block-start: 0.7rem;
    height: 2px;
    width: 300px;
    background-color: var(--primary);
    z-index: 999;
}

@media (max-width: 768px) {
    .backdrop {
        height: 125vh;
    }
    .donateContent{
        margin-inline-end: 3rem;
        margin-block-start: 4rem;
    }
    .mainContent{
        margin-inline-end: 3rem;
    }
    .landingCont {
        flex-direction: column;
        padding-block-start: 13vh;
        align-items: flex-start;
    }
    .landingCont h4 {
        font-size: 1.4rem;
    }
    .landingCont h1 {
        font-size: 3.5rem;
    }
    .contactCont h3 {
        margin: 0 2rem 3rem 2rem;
    }
    .contactCont h3::after {
        width: 60vw;
    }
    .contactCont {
        padding: 0 2vw;
    }
    .button{
        font-size: 1.6rem;
    }
    .socials {
        top: 80vh;
    }
}