.backdrop {
    width: 100vw;
    color: white;
    background: url('../public/peoplePic1.jpeg') no-repeat center center;
    background-size: cover;
}

.landingCont {
    background-color: var(--bgLanding);
    display: grid;
    grid-template-areas: ". title title ." ". main donate .";
    grid-template-columns: 15vw 1.5fr 1fr 10vw;
    grid-template-rows: 1fr 2fr;
    padding-block-start: 17vh;
}

.titleContent {
    grid-area: title;
    font-size: 5.5rem;
    margin: 7vh 0;
}

.mainContent {
    grid-area: main;
    margin-inline-end: 8vw;
}

.donateContent {
    grid-area: donate;
}

.socials {
    position: absolute;
    right: 5vw;
    top: 55vh;
    opacity: 70%;
    z-index: 3;
    display: flex;
    flex-direction: column;
}

*[dir="rtl"] .socials {
    right: auto;
    left: 5vw;
}

.socials svg {
    margin-bottom: 2rem;
}


/* Style area */

.button {
    cursor: pointer;
    font-size: 1.3rem;
    padding: 1rem;
    border-radius: 0.5rem;
    font-family: 'Lora', serif;
    margin-block-start: 5vh;
    margin-inline-start: 0.3rem;
    background-color: var(--primary);
    border: var(--primary);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button:focus {
    outline: none;
    box-shadow: none;
}

.button:hover {
    filter: brightness(0.85);
}

.contactBtn {
    justify-content: space-between;
    gap: 0.4rem;
    width: fit-content;
}

.subtitle {
    font-size: 1.75rem;
    letter-spacing: 0.05rem;
}

.desc {
    font-size: 1.2rem;
    line-height: 2rem;
}

.areaNotice{
    display: flex;
}



/* Contact Form */

.contactCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15vw;
    margin: 3rem 0 3rem 0;
}

.contactCont h3 {
    font-size: 2rem;
    margin-inline-start: 3vw;
    margin-block-end: 3rem;
}

.contactCont h3::after {
    content: "";
    display: block;
    margin-block-start: 0.7rem;
    height: 2px;
    width: 300px;
    background-color: var(--primary);
    z-index: 999;
}

@media (max-width: 768px) {
    .landingCont {
        grid-template-areas: ". title ." ". main ." ". donate .";
        grid-template-columns: 0.25fr 1fr 0.3fr;
        grid-template-rows: 0.5fr 1fr 1fr;
        padding-block-start: 15vh;
        padding-block-end: 7vh;
    }
    .titleContent {
        font-size: 4.5rem;
    }
    .mainContent {
        margin-block-end: 2rem;
    }
    .button {
        font-size: 1.6rem;
    }
    .socials {
        top: 80vh;
    }
    /* Contact Form */
    .contactCont h3 {
        margin: 0 2rem 3rem 2rem;
    }
    .contactCont h3::after {
        width: 60vw;
    }
    .contactCont {
        padding: 0 2vw;
    }
    .donateContent {
        padding-block-end: 10vh;
    }
    .areaNotice{
        display: flex;
        flex-direction: column-reverse;
    }
}