.landedNavCont {
    width: 100vw;
    height: 8rem;
    top: 0;
    background-color: var(--background);
}

.backdrop {
    height: 40vh;
    width: 100vw;
    position: relative;
}

.overlay {
    margin-top: 8rem;
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    height: 40vh;
    background-color: var(--bgLanding);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    padding-block-end: 2rem;
}

.overlay h1 {
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin: 0;
}

.overlay p {
    font-size: 1.3rem;
    margin: 1rem 5rem 0 5rem;
}

.mainCont {
    min-height: 100vh;
    padding: 2rem 10rem;
}

.lawomenSec {
    padding: 7rem 0 3rem 0;
}

.firmSec {
    padding: 7rem 0 3rem 0;
}

.fellows {
    padding: 7rem 0 3rem 0;
}

.cardCont {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
}

.secTitle {
    margin-bottom: 2.5rem;
    text-decoration: underline;
}

.cards {
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    border-radius: 5px;
    padding-bottom: 2rem;
    box-shadow: 1px 1px 5px rgb(187, 187, 187);
}

.cardsImg {
    position: relative;
    height: 20rem;
    width: 15rem;
}

@media (max-width: 768px) {}