.landedNavCont {
    width: 100vw;
    height: 8rem;
    top: 0;
    background-color: var(--background);
}

.mainCont {
    min-height: 100vh;
    padding: 7rem 5rem;
}

.galleryCont{
    min-height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
